<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Reset Password</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/shop.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div>
        <h1>Reset Password</h1>
    </div>

    <form action="#" th:action="@{/passwordReset}" th:object="${password}" method="post">
        <div class="form-group">
            <label for="token">Token</label>
            <input type="text" th:field="*{token}" class="form-control" id="token" hidden>
        </div>
        <div class="form-group">
            <label for="password">Password :</label>
            <input type="text" th:field="*{passwordValue}" class="form-control" id="password">
        </div>
        <div class="form-group">
            <label for="matchingPassword">Re - Enter Password</label>
            <input type="text"  th:field="*{matchingPassword}" class="form-control" id="matchingPassword" placeholder="password">
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>

    <div class="control-group">
    </div>
</div>
</body>
</html>